@page "/storeAdmin/details/{entityId:long}"

@inject IStoreRepository _entityRepository
@inject IOrderRepository _orderRepository

@attribute [Authorize(Roles = "Admin")]

@if (entity != null)
{
    <div class="page-content-wrapper">
        <div class="container">
            <div class="profile-wrapper-area py-3">
                <div class="card user-info-card">
                    <div class="card-body p-4 d-flex align-items-center">
                        <div class="user-info">
                            <h3>@T["Action_Details"]</h3>
                            <br />
                            <text>@T["Property_Rating"]: </text>@storeRating<text>/5</text>
                        </div>
                    </div>
                </div>
                <div class="card user-data-card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="font-weight-bolder">@T["Property_Name"]:</label>
                            <div>
                                <span>@entity.Name</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bolder">@T["Property_Address"]:</label>
                            <div>
                                <span>@entity.Address</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bolder">@T["Property_Currency"]:</label>
                            <div>
                                <span>@entity.Currency?.Code</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bolder">@T["Property_Image"]:</label>
                            <div>
                                <img class="img-fluid img-thumbnail" alt="Store Image" src="@entity.Image" style="height:200px; width:200px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bolder">@T["Property_Country"]:</label>
                            <div>
                                <span>@_localizationDB.GetName(@entity.City.Country)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bolder">@T["Property_City"]:</label>
                            <div>
                                <span>@_localizationDB.GetName(@entity.City)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bolder">@T["Property_Cities"]:</label>
                            <div>
                                @foreach (var item in entity.StoreCities)
                                {
                                    <span>(</span>@_localizationDB.GetName(item.City)<span>)</span>
                                    <span>&nbsp;</span>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bolder">@T["Property_Countries"]:</label>
                            <div>
                                @foreach (var item in entity.StoreCountries)
                                {
                                    <span>(</span>@_localizationDB.GetName(item.Country)<span>)</span>
                                    <span>&nbsp;</span>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bolder">@T["Property_Tags"]:</label>
                            <div>
                                @foreach (var item in entity.StoreTags)
                                {
                                    <span>(</span>@_localizationDB.GetName(item.Tag)<span>)</span>
                                    <span>&nbsp;</span>
                                }
                            </div>
                        </div>
                        <a class="btn btn-primary" href="storesAdmin">@T["Action_Back_To_List"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    public Store entity;
    [Parameter] public long entityId { get; set; }
    List<EmployeeRole> roles = new();

    private string storeRating;

    protected async override Task OnInitializedAsync()
    {
        entity = await _entityRepository.Get(entityId);

        if (entity == null)
        {
            _navigationManager.NavigateTo("NotFound");
            return;
        }

        storeRating = entity.AverageRate.ToString("0.#");
        roles = await _roleRepository.GetRolesForStore(entityId);
    }
}