@page "/favouriteStores"

@using AD.Shared.DTOs.Store

@inject IStoreRepository _entityRepository
@inject IFavouriteRepository _favouriteRepository

@attribute [Authorize(Roles = "User")]

<h3 style="text-align: center;">@T["NavMenu_FavouriteStores"]</h3>

<div class="form-inline">
    <div class="form-group">
        <a class="btn btn-info" href="store/create">@T["Action_Create"] @T["Class_Store"]</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-success" href="stores">@T["NavMenu_Stores"]</a>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group mb-2"><input @onchange="Search" class="form-control" placeholder="@T["Action_Search"]" /></div>
        <span class="text-muted ml-5">
            @T["Action_Search_Shwoing"] @entities.Count @T["Action_Search_OutOf"] @totalAmount
        </span>
    </div>
</div>

    <GenericList List="entities">
        <WholeListTemplate>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@T["Property_Name"]</th>
                        <th>@T["Property_Country"]</th>
                        <th>@T["Property_City"]</th>
                        <th>@T["Property_DefaultCurrency"]</th>
                        <th>@T["Property_StoreTags"]</th>
                        <th>@T["Property_Image"]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in entities)
                    {
                        <tr>
                            <td>
                                @item.Store.Name
                            </td>
                            <td>
                                @_localizationDB.GetName(item.Store.City.Country)
                            </td>
                            <td>
                                @_localizationDB.GetName(item.Store.City)
                            </td>
                            <td>
                                @item.Store.Currency.Code
                            </td>
                            <td>
                                @foreach (var tag in item.Store.StoreTags)
                                {
                                    @_localizationDB.GetName(tag.Tag)
                                    <span>&nbsp;</span>
                                }
                            </td>
                            <td>
                                <img class="img-fluid img-thumbnail" alt="Store Image" src="@item.Store.Image" style="height:100px; width:100px;" />
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="@(() => Follow_UnFollow(@item.Store.Id))">@T["Action_UnFollow"]</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </WholeListTemplate>
    </GenericList>
    <AD.Client.Shared.Pagination CurrentPage="@paginationDTO.Page" SelectedPage="SelectedPage" TotalAmountPages="totalAmountOfPages"></AD.Client.Shared.Pagination>

    @code {
        [CascadingParameter] public IModalService Modal { get; set; }

        List<IndexStoresUser> entities = new List<IndexStoresUser>();

        PaginationSearchDTO paginationDTO = new PaginationSearchDTO() { RecordsPerPage = 10 };
        private int totalAmountOfPages;
        private long totalAmount;

        protected override async Task OnInitializedAsync()
        {
            await LoadEntities();
        }

        private async Task Search(ChangeEventArgs args)
        {
            paginationDTO.SearchText = args.Value.ToString();
            await LoadEntities();
        }

        private async Task SelectedPage(int page)
        {
            paginationDTO.Page = page;
            await LoadEntities();
        }

        private async Task LoadEntities()
        {
            var paginatedResponse = await _entityRepository.GetAllStoresUser(paginationDTO);
            entities = paginatedResponse.Response.Where(s => s.Status == FollowStatus.Follow).ToList();
            totalAmountOfPages = paginatedResponse.TotalAmountPages;
            totalAmount = paginatedResponse.TotalAmount;
        }

        private async Task Follow_UnFollow(long id)
        {
            try
            {
                await _favouriteRepository.Follow_UnFollow_Store(new StoreFollowers { StoreId = id, Status = FollowStatus.UnFollow });
                await LoadEntities();
                Toaster.Warning(T["Message_UnFollow"]);
            }
            catch (Exception ex)
            {
                Toaster.Error(T["Message_Error"]);
                await _homeRepository.LogToDB(new LogDTO() { Page = _navigationManager.Uri, Message = ex.Message, StackTrace = ex.StackTrace, InnerException = ex.InnerException?.ToString() });
            }
        }
    }
